<div class="max-2-full w-full px-2 sm:px-12 lg:pr-20 mb-12 lg:mb-0">
  <div class="relative">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="p-6 sm:py-8 sm:px-12 rounded-lg bg-white shadow-xl">
        <div class="text-center">
          <h1 class="text-2xl leading-normal mb-3 font-bold text-grey-800 text-center">
            Join Now
          </h1>
        </div>
        <hr class="block w-12 h-0.5 mx-auto my-5 bg-gray-700 border-gray-700">
        <%= f.input :name,
                    label: 'Full Name',
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "name" } %>
        <%= f.input :email,
                    required: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: 'Repeat Password',
                    required: true,
                    input_html: { autocomplete: "new-password" } %>

        <%= f.fields_for :store, resource.store || resource.build_store do |s| %>
          <%= s.input :name, label: 'Store Name'%>
        <% end %>

        <div class="mt-6 mb-4">
          <%= f.input :agreement, label: false, wrapper: false %>
          <label class="ml-2 cursor-pointer <%= 'text-red-500' if f.object.errors[:agreement].present? %>" for="user_agreement">
		        I agree to the <a href="#" class="hover:text-indigo-500">Terms and Conditions</a>
		      </label>
		    </div>

        <div class="grid">
          <button type="submit" class="py-2 px-4 inline-block text-center rounded leading-normal text-gray-100 bg-indigo-500 border border-indigo-500 hover:text-white hover:bg-indigo-600 hover:ring-0 hover:border-indigo-600 focus:bg-indigo-600 focus:border-indigo-600 focus:outline-none focus:ring-0">

            <i class="las la-hand-point-right"></i>
            Register
          </button>
        </div>
        <div class="mt-4">
          <p class="text-center mb-4">
          Already have an account?
          <%= link_to "Login", new_session_path(resource_name), class: 'hover:text-indigo-500' %>
          </p>
        </div>
      </div>

    <% end %>

  </div>
</div>
