<%= simple_form_for(@wallet) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :active %>
  <%= f.input :singular %>
  <%= f.input :plural %>
  <%= f.input :expire_unit_method %>
  <div class="inline">
    <%= f.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
