<div class="flex flex-wrap flex-row">
  <div class="flex-shrink max-w-full px-4 w-full">
    <p class="text-xl font-bold mt-3 mb-5">
      <%= t "devise.invitations.new.header" %>
    </p>
  </div>

  <div class="flex-shirnk max-w-full px-4 w-full mb-6">
    <div class="p-8 mb-6 bg-white rounded-lg shadow-lg">
      <div class="relative">
        <div class="mb-6">
          <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">
            Invite someone to make awesome campaigns for customers
          </p>
        </div>
        <div class="mb-6">
          <div class="bg-white p-8 border border-gray-200">
            <%= simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
              <%= f.error_notification %>

              <div class="mb-6">
                <%= f.input :name %>
              </div>

              <% resource.class.invite_key_fields.each do |field| -%>
                <div class="mb-6">
                  <%= f.input field %>
                </div>
              <% end -%>

              <div class="form-actions">
                <%= f.button :submit, t("devise.invitations.new.submit_button") %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


