<tr id="<%= dom_id campaign %>">
  <td class="border border-slate-300 py-1 px-2"><%= campaign.order %></td>
  <td class="border border-slate-300 py-1 px-2"><%= campaign.name %></td>
  <td class="border border-slate-300 py-1 px-2"><%= campaign.campaign_type %></td>
  <td class="border border-slate-300 py-1 px-2"><%= campaign.active %></td>
  <td class="border border-slate-300 py-1 px-2"><%= campaign.active_from %></td>
  <td class="border border-slate-300 py-1 px-2"><%= campaign.active_to %></td>
  <td class="border border-slate-300 py-1 px-2"><%= campaign.created_at %></td>
  <td class="border border-slate-300 py-1 px-2">
    <%= link_to 'edit', edit_campaign_path(campaign) %>
  </td>
</tr>
