<div class="grid grid-cols-5 gap-4 items-center">
  <%= f.hidden_field :store_id %>
  <div>
  <%= f.input :order %>
  </div>
  <div>
  <%= f.input :feature %>
  </div>
  <div>
  <%= f.input :operators %>
  </div>
  <div>
  <%= f.input :values %>
  </div>
  <div>
  <%= link_to 'remove', 'javascript:void(0);', data: { action: 'campaigns#removeFields' } %>
  </div>
</fieldset>
