<div class="p-2 border rounded bg-white rule">
  <div class="block">
    <h4 class="float-left">Rule</h4>
    <div class="float-right">
      <%= f.hidden_field :_destroy %>
      <%= link_to 'remove rule', 'javascript:void(0);', data: { action: 'campaigns#removeFields' } %>
    </div>
  </div>
<h4>Conditions</h4>
<%= f.fields_for :conditions do |builder| %>
  <%= render 'condition_fields', f: builder %>
<% end %>
<%= link_to_add_fields 'Add Condition', f, :conditions %>
</div>
