<!-- Main navigation container -->
<nav id="sidebar-menu" class="fixed h-screen bg-white shadow-md w-0 md:w-20">
  <div class="h-full flex flex-col overflow-y-auto scrollbars">
    <!-- logo -->
    <div class="mh-18 text-center py-5">
      <a href="/" class="relative">
        <h2 class="text-3xl font-semibold mx-auto logo-compact">
          <%= inline_svg_tag 'logo' %>
        </h2>
      </a>
    </div>

    <ul id="side-menu" class="w-full float-none flex flex-col font-semibold text-2xl pl-1.5">
      <li class="relative">
        <a href="javascript:void(0);" class="block py-2.5 px-6 hover:text-indigo-500">
          <i class="inline-block h-5 w-5 mr-2 las la-home"></i>
        </a>
      </li>
      <li class="relative">
        <a href="<%= members_path %>" class="block py-2.5 px-6 hover:text-indigo-500">
          <i class="inline-block h-5 w-5 mr-2 las la-users"></i>
        </a>
      </li>
      <li class="relative">
        <a href="<%= campaigns_path %>" class="block py-2.5 px-6 hover:text-indigo-500">
          <i class="inline-block h-5 w-5 mr-2 las la-play-circle"></i>
        </a>
      </li>
      <li class="relative">
        <a href="javascript:void(0);" class="block py-2.5 px-6 hover:text-indigo-500">
          <i class="inline-block h-5 w-5 mr-2 las la-trophy"></i>
        </a>
      </li>
      <li class="relative">
        <a href="javascript:void(0);" class="block py-2.5 px-6 hover:text-indigo-500">
          <i class="inline-block h-5 w-5 mr-2 las la-wallet"></i>
        </a>
      </li>
      <li class="relative">
        <a href="javascript:void(0);" class="block py-2.5 px-6 hover:text-indigo-500">
          <i class="inline-block h-5 w-5 mr-2 las la-certificate"></i>
        </a>
      </li>
      <li class="relative">
        <a href="javascript:void(0);" class="block py-2.5 px-6 hover:text-indigo-500">
          <i class="inline-block h-5 w-5 mr-2 las la-gift"></i>
        </a>
      </li>
    </ul>
    <ul id="side-bottom-menu" class="w-full float-none flex flex-1 flex-col justify-end font-semibold text-2xl pl-1.5">
      <li class="relative">
        <a href="<%= users_path %>" class="block py-2.5 px-6 hover:text-indigo-500">
          <i class="inline-block h-5 w-5 mr-2 las la-users-cog"></i>
        </a>
      </li>
      <li class="relative">
        <a href="<%= destroy_user_session_path %>" data-turbo-method="delete" class="block py-2.5 px-6 hover:text-indigo-500">
          <i class="inline-block h-5 w-5 mr-2 las la-sign-in-alt"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
